<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Sweet Home for Frogs</title>
</head>
<body>

  <h1>List of Frogs</h1>

  <ul>
    <% for (let frog in listOfFrogs) { %>
      <li><a href="/frogs/<%= frog %>"><%= listOfFrogs[frog].name %></a><a href="/frogs/edit/<%= frog %>">✎</a><a href="/frogs/delete/<%= frog %>">🗑</a></li>
    <% } %>  
  </ul>

  <a href="/frogs/new">Add New</a>

</body>
</html>