<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Frog</title>
</head>
<body>

  <form method="POST" action="/frogs/new">

    <label for="name">name</label>
    <input type="text" name="name" id="name" />
    <label for="description">description</label>
    <input type="text" name="description" id="description" />
    <label for="region">region</label>
    <input type="text" name="region" id="region" />
    <label for="picture">picture</label>
    <input type="text" name="picture" id="picture" />

    <button>Add</button>
  </form>

</body>
</html>